<!DOCTYPE html>
<html>
<head>
  <title>LetsencryptHttpChallenge</title>
  <%= stylesheet_link_tag    "letsencrypt_http_challenge/application", media: "all" %>
  <%= javascript_include_tag "letsencrypt_http_challenge/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
